.userPhoto {
    width: 150px;
    height: 90%;
}

.selectedPage {
    font-weight: bolder;
}

.pagination{
    text-align: center;
    color: black;
    font-weight: bold;
    margin: 70px;
    padding: 70px;
}
