.header {
    grid-area: header;
    background-color: blueviolet;
    height: 150px;
}

.header img{
    padding: 20px;
    width: 100px;
    height: 100px;
    border-radius: 35px;
}

.loginBlock {
    float: right;
}