.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1300px;


    /* nav, header, content it's a names of our grid components, pay attention to call them correctly   */
    /*  Grid-Areas: 1.Header  2.Nav  3.Content  */
    grid-template-areas:
    "header header"
    "nav content";

    grid-template-rows: 150px 1fr;
    grid-template-columns: 2fr 10fr;
     grid-gap: 10px;
}

.app-wrapper-content {
    grid-area: content;
    background-color: lightgray;
}